body {
  margin: 0px 0px 0px 0px !important;
  width: 718px;
  height: 429px;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  scrollbar-width: none;
  overflow: hidden !important;
}
