@font-face {
    src: url('src\assets\fonts\TreasureMapDeadhand-yLA3.ttf');
    font-family: 'Pirate Menu';
}
@font-face {
    src: url('src\assets\fonts\Blackpearl-vPxA.ttf');
    font-family: 'Pirate Game';
}

span,
label {
    opacity: 100% !important;
}

.game-panel {
    text-align: center;
    width: 111%;
    background-color: dodgerblue;
    border-radius: 10%;
    border-color: grey;
    border: solid;
    border-width: 5px;
    cursor: url('src\assets\cursors\starfishcur.cur') 0 0, auto;
    opacity: 75%;
}

.panel-title {
    font-size: 3em;
    font-family: 'Pirate Menu';
    color: yellow;
    margin-bottom: -8%;
    margin-left: 4%;
}

.score-title {
    margin-top: 4%;
    margin-left: 4.5%;
    font-size: 3em;
    font-family: 'Pirate Menu';
    color: yellow;
}

.score-endGame {
    margin-top: 3%;
}

.grid {
    opacity: 100% !important;
    width: 293.2px;
    height: 266.2px;
}

.button-exit {
    z-index: 50;
    cursor: url('src\assets\cursors\Hand-Right.cur') 0 0, auto;
    display: inline-flex;
    color: black;
    width: 250px;
    height: 77px;
    border-radius: 33% 33% 45px 45px;
    border-color: black;
    font-size: 24px;
    font-family: 'Pirate Game';
    padding-top: 10px;
    padding-left: 32px;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgb(244, 226, 150);
}

.controls {
    z-index: 50;
    cursor: url('src\assets\cursors\Hand-Right.cur') 0 0, auto;
    display: inline-flex;
    color: black;
    width: 165px;
    height: 106px;
    border-color: black;
    font-size: 24px;
    font-family: 'Pirate Game';
    padding-top: 28px;
    background-color: rgb(244, 226, 150);
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 33% 33% 33% 45px;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 33% 33% 45px 33%;
}

.up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 45px 45px 33% 33%;
}

.down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 33% 33% 45px 45px;
}

button:hover {
    cursor: url('src\assets\cursors\Hand-Right.cur') 0 0, auto;
    background-color: darkblue !important;
    color: yellowgreen !important;
}

.exit-button-title {
    padding-left: 0.5em;
    font-size: 1.5em;
}

.line {
    display: inline-block;
    padding-bottom: 0px;
}

.blank {
    width: 25px;
    height: 25px;
    background-color: dodgerblue;
    border: 2px solid black;
}

.countdown {
    height: 288px;
    width: 190px;
    color: yellow;
    font-family: 'Pirate Game';
    font-size: 110px;
    padding-top: 150px;
    margin-left: 230%;
    text-align: center;
}

.end-panel {
    position: absolute !important;
    opacity: 87.5% !important;
    width: 670px !important;
    height: 415px !important;
    left: 195px;
    margin-left: -35%;
    margin-top: 13%;
    background-color: dodgerblue;
    border: 3px solid black;
    border-radius: 30px;
}

.bestscore-panel {
    position: absolute !important;
    opacity: 87.5% !important;
    width: 670px !important;
    height: 415px !important;
    left: 195px;
    margin-left: -35%;
    margin-top: 13%;
    background-color: black;
    border: 3px solid yellowgreen;
    border-radius: 30px;
}

.video-endgame {
    border-color: black;
    border: solid;
    border-width: 7px;
    border-radius: 20px;
    width: 66.75%;
    height: 67.5%;
    margin-top: 5%;
    margin-left: 16%;
}

.video-bestscore {
    border-color: dodgerblue;
    border: solid;
    border-width: 7px;
    border-radius: 20px;
    width: 59.75%;
    height: auto;
    margin-top: 2%;
    margin-left: 19%;
}

.img-controls {
    border-color: black;
    border: solid;
    border-width: 7px;
    border-radius: 20px;
    margin-top: -7%;
    width: 50px !important;
    height: 50px !important;
}

.exit-msg {
    color: red;
    font-size: 3em;
    font-family: 'Pirate Game';
    margin-top: 2%;
    margin-left: 35%;
}

.bestscore-title {
    color: red;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Pirate Game';
    margin-top: 2%;
}

.bestscore-msg {
    color: red;
    display: flex;
    justify-content: center;
    font-size: 1.75em;
    font-family: 'Pirate Game';
}

.panel-structure {
    display: grid;
}

.inside-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    padding-top: 50px;
}

.buttons-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
}
