@font-face {
  src: url("src\assets\fonts\TreasureMapDeadhand-yLA3.ttf");
  font-family: "Pirate Menu";
 }
 @font-face {
   src: url("src\assets\fonts\Blackpearl-vPxA.ttf");
   font-family: "Pirate Game";
 }

span, label {
  opacity: 100% !important;
}

.game-panel {
  text-align: center;
  width: 180%;
  background-color: dodgerblue;
  border-radius: 100%;
  border-color: grey;
  border: solid;
  margin-left: 130%;
  border-width: 7px;
  cursor: url("src\assets\images\starfishcur.cur") 0 0, auto;
  opacity: 75%;
}

.panel-title {
  font-size: 3em;
  font-family: "Pirate Menu";
  color: yellow;
  margin-bottom: -8%;
}

.score-title {
  margin-bottom: 2%;
  font-size: 3em;
  font-family: "Pirate Menu";
  color: yellow;
}

.score-endGame {
  margin-top: 3%;
}

.grid {
  opacity: 100% !important;
}

button {
  z-index: 50;;
  cursor: url("src\assets\Poker\Hand-Right.cur") 0 0, auto;
  display: inline-flex;
  color: black;
  width: 250px;
  height: 77px;
  border-radius: 0% 0% 140px 140px;
  border-color: black;
  font-size: 24px;
  font-family: "Pirate Game";
  padding-top: 10px;
  padding-left: 34px;
  margin-top: 2%;
  margin-bottom: 4%;
  background-color: rgb(244, 226, 150);
}

button:hover {
cursor: url("src\assets\Poker\Hand-Right.cur") 0 0, auto;
background-color: red !important;
color: rgb(244, 226, 150) !important;
}

.exit-button-title {
  padding-left: 0.5em;
  font-size: 1.5em;
}

.line {
  display: inline-block;
  padding-bottom: 0px;
}

.blank {
  width: 20px;
  height: 20px;
  background-color: dodgerblue;
  border-color: darkblue;
  border-width: 0.5px;
  border: solid;
}

.countdown {
  height: 288px;
  width: 190px;
  color: yellow;
  font-family: "Pirate Game";
  font-size: 110px;
  padding-top: 150px;
  margin-left: 275%;
  text-align: center;
}

.end-panel {
position: absolute !important;
opacity: 87.5% !important;
width: 700px !important;
height: 500px !important;
left: 250px;
top: 30px;
margin-left: -35%;
margin-top: 13%;
}

img {
  border-color: black;
  border: solid;
  border-width: 7px;
  border-radius: 20px;
  width: 60%;
  height: 50%;
}

.exit-msg {
color: red;
font-size: 3em;
font-family: "Pirate Game";
margin-top: 300px;
}




