@font-face {
  src: url("src\assets\fonts\TreasureMapDeadhand-yLA3.ttf");
  font-family: "Pirate Menu";
 }
 @font-face {
   src: url("src\assets\fonts\Blackpearl-vPxA.ttf");
   font-family: "Pirate Game";
 }

span, label {
  opacity: 100% !important;
}

.game-panel {
  text-align: center;
  width: 105%;
  background-color: dodgerblue;
  border-radius: 10%;
  border-color: grey;
  border: solid;
  margin-left: 7%;
  border-width: 5px;
  cursor: url("src\assets\images\starfishcur.cur") 0 0, auto;
  opacity: 75%;
}

.panel-title {
  font-size: 3em;
  font-family: "Pirate Menu";
  color: yellow;
  margin-bottom: -8%;
}

.score-title {
  margin-top: 4%;
  font-size: 3em;
  font-family: "Pirate Menu";
  color: yellow;
}

.score-endGame {
  margin-top: 3%;
}

.grid {
  opacity: 100% !important;
  width: 240.2px;
  height: 227.2px;
}

.button-exit {
  z-index: 50;;
  cursor: url("src\assets\Poker\Hand-Right.cur") 0 0, auto;
  display: inline-flex;
  color: black;
  width: 250px;
  height: 77px;
  border-radius: 33% 33% 45px 45px;
  border-color: black;
  font-size: 24px;
  font-family: "Pirate Game";
  padding-top: 10px;
  padding-left: 34px;
  margin-top: 2%;
  margin-bottom: 4%;
  background-color: rgb(244, 226, 150);
}

.controls {
  z-index: 50;;
  cursor: url("src\assets\Poker\Hand-Right.cur") 0 0, auto;
  display: inline-flex;
  color: black;
  width: 120px;
  height: 77px;
  border-color: black;
  font-size: 24px;
  font-family: "Pirate Game";
  padding-top: 10px;
  padding-left: 27px;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-right: 11%;
  background-color: rgb(244, 226, 150);
}

.left {
  border-radius: 33% 33% 33% 45px;
}

.right {
  border-radius: 33% 33% 45px 33%;
}

.up {
border-radius: 45px 45px 33% 33%;
}

.down {
border-radius: 33% 33% 45px 45px;
}

button:hover {
cursor: url("src\assets\Poker\Hand-Right.cur") 0 0, auto;
background-color: darkblue !important;
color: yellowgreen !important;
}

.exit-button-title {
  padding-left: 0.5em;
  font-size: 1.5em;
}

.line {
  display: inline-block;
  padding-bottom: 0px;
}

.blank {
  width: 20px;
  height: 20px;
  background-color: dodgerblue;
  border: 2px solid black;
}

.countdown {
  height: 288px;
  width: 190px;
  color: yellow;
  font-family: "Pirate Game";
  font-size: 110px;
  padding-top: 150px;
  margin-left: 230%;
  text-align: center;
}

.end-panel {
  position: absolute !important;
  opacity: 87.5% !important;
  width: 670px !important;
  height: 415px !important;
  left: 195px;
  margin-left: -35%;
  margin-top: 13%;
  background-color: dodgerblue;
  border: 3px solid black;
  border-radius: 30px;
}

.gif-endgame {
  border-color: black;
  border: solid;
  border-width: 7px;
  border-radius: 20px;
  width: 77%;
  height: 66%;
  margin-top: 5%;
  margin-left: 11%;
}

.img-controls {
  border-color: black;
  border: solid;
  border-width: 7px;
  border-radius: 20px;
  margin-top: -7%;
  width: 50px !important;
  height: 50px !important;
}

.exit-msg {
color: red;
font-size: 3em;
font-family: "Pirate Game";
margin-top: 2%;
margin-left: 35%;
}

.panel-structure {
  display: grid;
}

.inside-panel {
 display: inline-flex;
}

.buttons-left {
display: inline-flex;
width: 300px;
margin-left: 50px;
padding-top: 50px;
}

.buttons-right {
  display: inline-grid;
  width: 200px;
  padding-left: 100px;
}




